<li>
    {{name}}
    <button class="change-devoured btn-success" data-id="{{this.id}}" data-newdevour="{{devoured}}">    
       {{#if devoured}} DEVOUR!! {{else}} Yum! {{/if}}
    </button>

    <button class="delete-burger btn-danger" data-id="{{id}}">Bad Burger!!</button>
</li>